body {
    background: #FFF1E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.correct {
    margin-top: 160px;
    color: #FF600B;
text-align: center;
font-family: Raleway;
font-size: 44.77px;
font-style: normal;
font-weight: 700;
line-height: 93%; /* 41.636px */
}

.top-decoration {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  pointer-events: none; /* para que no moleste */
  z-index: 1;
}

.option1 {
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 93%; /* 18.6px */
    display: flex;
width: 215px;
height: 119px;
padding: 24px 34px 24px 6px;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 12px;
background: #2DB9FF;
box-shadow: 0 6px 0 0 #3E9FD0;
}

.option2 {
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 93%; /* 18.6px */
    display: flex;
width: 215px;
height: 119px;
padding: 24px 34px 24px 6px;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 12px;
background: #FFAF01;
box-shadow: 0 6px 0 0 #E39C00;
}

.option3 {
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 93%; /* 18.6px */
   display: flex;
width: 215px;
height: 119px;
padding: 24px 34px 24px 6px;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 12px;
background: #FF3538;
box-shadow: 0 6px 0 0 #CB2C2F;
}

.option4 {
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 93%; /* 18.6px */
display: flex;
width: 215px;
height: 119px;
padding: 24px 34px 24px 6px;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 12px;
background: #01AD47;
box-shadow: 0 6px 0 0 #008B38;

}

#answer {
    color: #01AD47;
text-align: center;
font-family: Raleway;
font-size: 19.34px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 23.208px */
}

.stars {
  position: relative;
}

.star {
  position: absolute;
  opacity: 0;
  animation: pop-up 0.8s ease-out forwards;
}

/* posiciones distintas para cada estrella */
.star-1 {
  left: -40px;
  top: -20px;
  animation-delay: 0.1s;
}

.star-2 {
  right: -40px;
  top: -10px;
  animation-delay: 0.25s;
}

/* animación */
@keyframes pop-up {
  0% {
    transform: scale(0.3) translateY(10px);
    opacity: 0;
  }
  60% {
    transform: scale(1.1) translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(-10px);
    opacity: 1;
  }
}
